<!doctype html>
<title>Concordance for T5 BBB</title>
<script src="/static/d3.v3.min.js" charset="utf-8"></script>

{% if searchword %}
<h2>concordance of T5 for {{ searchword }}</h2>
    {% if results %}
    <p>entries found: {{ results|length }}:</p>
    <ul>
        {% for key, value in results.iteritems() %}
        <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no results were found.</p>
    {% endif %}
{% else %}
<h2>concordance of T5</h2>

<p>Ghetto version:</p>
<p>To make use of this concordance, simply append the word you're hunting for
to the URL of this application. For example:
<ul>
    <li><a href="/Imperium">Imperium</a></li>
    <li><a href="/Vilani">Vilani</a></li>
</ul></p>
{% endif %}

<p>This is a basic concordance, created using the tooling from
<a href="http://nltk.org">nltk</a>, and currently only supports the concordance
for single words. The code for this application is available under the Apache
license and can be found on github <a href="https://github.com/makhidkarun/t5concordance">makhidkarun/t5concordance</a>.
The concordance index {{ g.index }} has been loaded from
a master list of {{ g.tokens|length }} tokens.</p>

<p class=copyright>
The Traveller game in all forms is owned by Far Future Enterprises.
Copyright 1977 - 2013 Far Future Enterprises. Traveller is a registered
trademark of Far Future Enterprises. Far Future permits web sites and
fanzines for this game, provided it contains this notice, that Far Future
is notified, and subject to a withdrawal of permission on 90 days notice.
The contents of this site are for personal, non-commercial use only. Any
use of Far Future Enterprise's copyrighted material or trademarks anywhere
in this repository and its files should not be viewed as a challenge to
those copyrights or trademarks.
</p>
